---
layout: default
---

<div class="posts">
  {% for post in site.posts %}
    <article class="post">

      <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>

      <div class="entry">
        {{ post.content }}
      </div>
      
      <div class="date">
        Posted {{ post.date | date: "%B %e, %Y" }} under
        
        <div class="post-categories">
  {% if post %}
    {% assign categories = post.categories %}
  {% else %}
    {% assign categories = page.categories %}
  {% endif %}
  {% for category in categories %}
  <a href="{{site.baseurl}}/categories/#{{category|slugize}}">&nbsp;{{category}}</a>
  {% unless forloop.last %},{% endunless %}
  {% endfor %}
</div>
        
      </div>

    </article>
  {% endfor %}
</div>
